@import url("recipe-display.css");
@import url("display-image.css");

h4 {
    margin-top: 8px;
}

.row {
    padding:5px 0px;
}

.a-profile {
    text-decoration: underline double; 
    color: #343a40;
}

.a-profile:hover {
    color: #818c98
}