#profilePicture {
    height: 200px;
    border-radius: 50%;
}

.row {
    margin-top: 10px;
}

#recipeHeader {
    text-align: center;
}

.stat-label {
    clear: left;
    float: left;
    margin-right: 2px;
}

.stat-container {
    float: left;
}

.recipe-row {
    cursor: pointer;
}

.recipe-row:hover {
    background: #818c98;
}

#recipe-table td {
    vertical-align: middle;
}

#edit-btn {
    margin-right: 5px;
    padding: 0px 8px;
}

#delete-btn {
    padding: 0px 8px;
}

#user {
    text-align: center;
}

#recipeRow {
    text-align: center;
}