@import url("recipe-display.css");
@import url("display-image.css");

h1 {
    margin: 15px 0px;
    text-align: center;
}

.img-thumbnail {
    width: 150px;
}

.row {
    margin: 5px 0px;
    overflow: hidden;
    align-items: center;
}

.a-profile {
    text-decoration: underline double; 
    color: #343a40;
}

.a-profile:hover {
    color: #818c98
}